<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<style>
    body{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        padding: 0;
        margin: 0;
    }
    .erro{
        color: brown;
    }
</style>
<body>
    <center>
        <h1>Cadastro de usuario</h1>
        <hr>
    </center>
    <fieldset>
        <legend>Cadastro de Usuario</legend>
        <form action="/cadastroUsuario" method="post">
            <input type="text" name="nome" id="nome">
            <% erros.forEach((erro)=>{ %>
                 <div class=".erro">erros</div>   
              
              <% });%>
                    <button>Cadastrar-se</button>
        </form>
    </fieldset>
</body>

</html>