<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <center>
        <h1>Cadastro de usuario</h1>
        <hr>
    </center>
    <fieldset>
        <legend>Cadastro de Usuario</legend>
        <form action="/cadastroUsuario" method="post">
            <input type="text" name="nomeUsuario" id="nomeUsuario" >
            <button type="button">Cadastrar-se</button>
        </form>
    </fieldset>
</body>

</html>