<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
    <link rel="stylesheet" href="cadastro2.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <label for="title">Cadastro</label>
        </div>
        <div class="line"></div>
        <form action="cadastroCliente" method="post">
            <input type="text" name="nome" id="nome" placeholder="Digite nome">
            <input type="text" name="email" id="email" placeholder="Digite email">
            <input type="text" name="senha" id="senha" placeholder="Digite senha">
            
            <div class="datanascimento">
                <select name="dia">
                    <script>
                        for (var d = 1; d <= 31; d++) {
                            document.write("<option>" + d + "</option>");
                        }
                    </script>
                </select>
                <select name="mes">
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
                <select name="ano">
                    <script>
                        for (var a = 2024; a >= 1900; a--) {
                            document.write("<option>" + a + "</option>");
                        }
                    </script>
                </select>
            </div>
            <button>Cadastrar</button>
        </form>
        <div class="line"></div>
        <button>Entrar</button>
    </div>
</body>
</html>