<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>

<body>
    <form action="/update" method="post">
        <div class="container">
            <div class="controlecadastro">
                <div class="navbar">
                    <h2>Update</h2>
                    <div class="hr">
                        <hr>
                    </div>
                </div>
                <div class="input">
                    <input type="text" name="nome" id="nome" placeholder="Digite nome Cliente" value="<%= cliente.nome %>">
                </div>
                <div class="input">
                    <input type="text" name="cpf" placeholder="Digite cpf Cliente" value="<%= cliente.cpf %>">
                </div>
                <div class="input">
                    <input type="text" name="telefone" placeholder="Digite telefone" value="<%= cliente.telefone %>">
                </div>
                <div class="input">
                    <input type="text" name="email" placeholder="Digite Email" value="<%= cliente.email %>">
                </div>
                <div class="datanascimento">
                    <select name="dia">
                        <script>
                            for (var d = 31; d >= 1; d--) {
                                document.write("<option>" + d + "</option>")
                            }
                        </script>
                    </select>
                    <select name="mes">
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                    <select name="dia">
                        <script>
                            for (var a = 2024; a >= 1900; a--) {
                                document.write("<option>" + a + "</option>")
                            }
                        </script>
                    </select>
                </div>
                <div class="input">
                    <button>Update</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>