<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <link rel="stylesheet" href="pesquisa.css">
</head>

<body>
    <div class="container">
        <div class="cabeçario">
            <h1>Pesquisa de Usuario</h1>
        </div>
        <form action="pesquisar" method="post">
            <input type="text" placeholder="Digite Seu Indice" name="id">
            <div class="Button">
                <button class="b">Pesquisar</button>
            </div>
        </form>
        <div>
            <form action="links" method="post">
                <input  type="hidden" name="link" value="2">
                <button class="link">Cadastra</button>
            </form>
        </div>
    </div>
</body>

</html>