<!DOCTYPE html> 
<html lang="pt-br"> 
 <head> 
 <meta charset="UTF-8" /> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
 <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
 <title>Guia perguntas</title> 
 <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
 <link rel="stylesheet" href="/css/style.css" /> 
 </head> 
 <body> 
 <div class="container"> 
 <hr> 
 <h1><%= questao.titulo %><h1> 
 <p><%= questao.descricao %><p>
    <form action="/responder/" method="post">
        <label for="">Resposta</label>
        <textarea class="form-control" name="corpo" placeholder="Digite sua resposta"></textarea>
        <input type="hidden" value="<%= questao.id_pergunta %>" name="Perguntaid">
        <button type="submit" class="btn btn-primary">Responder</button>
    </form> 
 <hr> 
 <h3>Resposta</h3>
 <% respondido.forEach(respondido=>{ %>
    <br>
    <div class="card">
        <div class="card-body">
            <p><%= respondido.corpo %></p>
        </div>

    </div>
    <% }) %>
 </body> 
 <script src="/js/query-3.5.1.slim.min.js"></script> 
 <script src="/js/popper.min.js"></script> 
 <script src="/js/bootstrap.min.js"></script> 
</html> 