<!DOCTYPE html> 
<html lang="pt-br"> 
 <head> 
 <meta charset="UTF-8" /> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
 <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
 <title>Guia perguntas</title> 
 <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
 <link rel="stylesheet" href="/css/style.css" /> 
 </head> 
 <body> 
 <div class="container"> 
 <hr> 
 <h1>Perguntas</h1> 
 <hr> 
 <a href="/perguntar" class="btn btn-primary">Perguntar</a> 
 <hr> 
 <!-----Aqui loop ----> 
 <br /> 
 <div class="card"> 
 <div class="card-body"> 
 <h3>Aqui vai o texto do título</h3> 
 </div> 
 <div class="card-footer"> 
 <button class="btn btn-primary">Responder</button> 
 </div> 
 </div> 
 <!----Final do loop --> 
 </div> 
 </body> 
 <script src="/js/query-3.5.1.slim.min.js"></script> 
 <script src="/js/popper.min.js"></script> 
 <script src="/js/bootstrap.min.js"></script></html> 
</html> 
