<<<<<<< HEAD:API/views/home.ejs
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Cliente</title>
    <link rel="stylesheet" href="home.ejs">
</head>

<body>
    <div class="navbar">
        <h1>Bem-Vindo ao site para controle do Cliente</h1>
        <div class="hr">
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="links">
            <div class="cadastro">
                <a href="/cadastro">Cadastro</a>
            </div>
            <div class="tabela">
                <a href="/tabela">Tabela</a>
            </div>
        </div>
    </div>
    </div>

</body>

=======
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Cliente</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="navbar">
        <h1>Bem-Vindo ao site para controle do Cliente</h1>
        <div class="hr">
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="links">
            <div class="cadastro">
                <a href="/cadastro">Cadastro</a>
            </div>
            <div class="cadastro2">
                <a href="cadastro2">Cadastro2</a>
            </div>
            <div class="tabela">
                <a href="/tabela">Tabela</a>
            </div>
        </div>
    </div>
    </div>

</body>

>>>>>>> aa1c9eba4d0b61081bbbc912abb7dcb9a1f14cf3:React/views/index.ejs
</html>