<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <label for="title">Entrar na conta</label>
        </div>
        <form action="loginCliente">
            <input type="text" name="nomeEmail" id="nomeEmail" placeholder="Nome ou Email">
            <input type="text" name="senha" id="senha" placeholder="Senha">

            <button>Entrar</button>
            <a href="#">Esqueceu a senha?</a>
        </form>
        <div class="line"></div>
        <div class="cad">
            <a href="cadastro"><button>Criar nova conta</button></a>
        </div>
        <a href="/">Voltar</a>
    </div>
</body>

</html>