* {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(253, 254, 255);
}

.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}