<%- include ("../partials/header.ejs") %>

    <body>
        <div class="container">
            <br><br>
            <h3 align="center">AVALIAÇÃO 01 - Eduardo Sieglitz da Silveira</h3>
            <br><br>
            <a href="/telaCadastro"><button type="button" class="btn btn-primary btn-lg btn-block">Cadastro de
                    Produto</button></a>
            <br>
            <a href="telaTable"><button type="button" class="btn btn-secondary btn-lg btn-block">Listar Produto</button></a>
        </div>
    </body>