<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Link</h1>
    <button type="button" onclick="Soma()">Soma</button>
</body>
<script>
    function Soma(){
        window.location.href ="/Soma"
    }
</script>
</html>